# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.git/
docker/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp

.tox
.coverage
html/*
__pycache__

# Compiled Documentation
docs/_build


.gitignore
Jenkinsfile
Makefile